<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../static/jquery-3.6.0.min.js"></script>
</head>
<body>
<div style="margin-left: auto;margin-top: 50px;width: 950px">
    <form action="/loginWithData.do" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="登录"></td>
                <td><input type="button" onclick="zhuce()" value="注册"></td>
                <b th:if="${err!=null}" style="color: red">[[${err}]]</b>
            </tr>
        </table>
    </form>
</div>
</body>
<script type="text/javascript">
    function zhuce() {
        window.location.href = "http://localhost:8090/zhuce.do";
    }
</script>
</html>